* {
  margin: 0;
  padding: 0;
}

.background-img {
  display: flex;
  flex-direction: column;

  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
header {
  font-family: 'Varela', sans-serif;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

#name {
  padding: 10px;
  font-size: 1.1em;
  color: white;
}

.navbar {
  font-size: 1.1em;
  line-height: inherit;
  display: flex;
  list-style: none;
  text-decoration: none;
}

.navbar li {
  padding: 10px;
}

.navbar a:link,
a:visited {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}
.navbar li a:hover {
  filter: brightness(155%);
  color: #2c5364;
}
main {
  color: red;
  flex: 1;
}
footer {
  color: red;
}
.about-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
  /* top: 50%; */
}

.circular--landscape img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  background-position: center;
}

.img-circular {
  width: 200px;
  height: 200px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

p {
  margin-bottom: 18px;
  font-size: 1.25em;
  line-height: 30px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.sub {
  font-size: 0.8em;
}
.text {
  /* background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  border-radius: 10px; */
  padding: 1em 2em;
  text-align: center;
}

.social-menu {
  margin-top: 1em;
  display: flex;
  list-style: none;
}

.social-menu li {
  padding: 3px;
  margin-right: 15px;
  color: #000;
}

.social-menu a {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
}

.fa {
  font-size: 30px;
  line-height: 60px;
  transition: 0.6s;
  color: #2c5364;
}

.fa:hover {
  transform: translate(0, -8px);
  transition: 0.1s ease-in;
  color: red;
}

.copyrightSection {
  padding: 10px 5px;
  color: #808080;
}
.copyrightSection p {
  margin: 0;
  margin-top: 5px;
}
#copyright-text {
  text-align: center;
  color: #808080;
  font-size: 0.75em;
}
