<div class="nav-container">
  <nav>
    <div class="brand">
      <span id="bold-name">Zaid </span><span>Quadri</span>
    </div>
    <ul class="parent-navigation">
      <li><a routerLink="/" href="">Home</a></li>
      <li><a [routerLink]="['/blogs']" href="">Blog</a></li>
      <li><a routerLink="projects" href="">Projects</a></li>
      <li><a href="assets/resume.pdf">Resumé</a></li>
    </ul>
    <a class="contact-button contact-link" href="mailto:zquadri98@gmail.com"
      >Contact Me</a
    >
  </nav>
  <hr />
</div>
