nav {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  color: var(--white);
  padding: 2em;
}
#colorpicker {
  cursor: pointer;
}
#bold-name {
  color: var(--color-primary);
  font-weight: 700;
}
.brand {
  text-transform: uppercase;
}
hr {
  border: 0;
  height: 1px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.08;
  position: relative;
  transition-duration: 500ms;
}

.nav-menu {
  display: flex;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
  gap: 20px;
}

.nav-menu li a {
  text-transform: uppercase;
  color: var(--white);
  text-decoration: none;
}

.nav-menu li a:hover {
  color: var(--color-primary);
}

.active-link {
  font-weight: bold;
}

.contact-button {
  background: transparent;
  color: var(--color-primary);
  padding: 1em 2em;
  border: 1px solid var(--color-primary);
  border-radius: 1vh;
  box-sizing: border-box;
  text-transform: uppercase;
}

.contact-button:hover {
  border: 1px solid var(--white);
}

.contact-link {
  text-decoration: none;
  color: var(--color-primary);
}

.contact-link:hover {
  color: rgb(217, 251, 251);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    transition-duration: 500ms;
  }
  .nav-menu {
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 75px;
    gap: 9px;
    text-align: center;
    left: -100%;
    font-size: var(--text-size-small);
  }
  .nav-menu.active {
    position: absolute;
    transition-duration: 500ms;
    left: 0;
  }
  .nav-menu .nav-item a {
    color: #fff;
  }

  hr.active {
    margin-top: 100px;
    transition-duration: 500ms;
  }

  .hamburger.active {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transition-duration: 500ms;
  }
}
