<div class="container">
  <!-- <div class="backdrop-left">test</div> -->
  <div class="content">
    <div class="flex-container">
      <h1 class="heading">Hey there!</h1>
      <img
        class="portrait"
        src="assets/beach-portrait.jpg"
        alt="                                                                                                                                 "
      />
      <div class="text-content">
        <p class="para">
          I'm Zaid, a software engineer at Savvas Learning Co. (formerly
          Pearson-K12). Outside the world of software, I enjoy photography,
          gaming, and weight lifting.
        </p>
        <p class="para closing">
          If you want to get in touch, feel free to shoot me an email or connect
          with me on any of the below platforms!
        </p>
      </div>
    </div>

    <media-icons></media-icons>
  </div>
</div>
