<div class="container">
  <div class="backdrop-left">test</div>
  <div class="content">
    <div class="flex-container">
      <div class="text-content">
        <h1 class="heading">Hey there!</h1>
        <p class="introduction">
          I'm Zaid, a software engineer at Savvas Learning Co. (formerly Pearson
          K12 Learning).
        </p>
        <p class="introduction">
          If you want to get in touch, feel free to shoot me an email!
        </p>
      </div>
      <img
        class="portrait"
        src="assets/beach-portrait.jpg"
        alt="                                                                                                                                 "
      />
    </div>

    <media-icons></media-icons>
  </div>
</div>
