footer {
  margin-bottom: 1em;
}

#disclaimer {
  color: #605c5c;
  text-align: center;
  font-size: var(--text-size-xsmall);
  margin-bottom: 8px;
}

.copyrightSection {
  padding: 10px 5px;
  color: #808080;
}
.copyrightSection p {
  margin: 0;
  margin-top: 5px;
}
#copyright-text {
  text-align: center;
  color: #808080;
  font-size: 0.75em;
}

@media (max-width: 768px) {
}
