footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0.5rem;
}
.copyrightSection {
  padding: 10px 5px;
  color: #808080;
}
.copyrightSection p {
  margin: 0;
  margin-top: 5px;
}
#copyright-text {
  text-align: center;
  color: #808080;
  font-size: 0.75em;
}
